.list-buttons{
      display: flex;
  align-items: center;
}

.prev-btn{
   margin-right: 7em;
}

@media only screen and (max-width: 600px) {
  .prev-btn{
   margin-right: 5em;
   text-align: right;
}
}